body{font-size:75%;font-family:Helvetica,Arial,sans-serif; padding: 10px; margin:0}
a{color:black}
a:focus{color:#ccc}
input{font:16px / 18px sans-serif}
fieldset{margin:0;padding:0;border:0}
form div{padding:0}

#content{width:100%}
#center{margin:10px; text-align: center}
#accountFields{padding-left:50px}
#input_comment {padding-bottom: 10px}

.buttoninput{clear:both}
.textinput{padding-top:10px;clear:both}
.textinput label{display:block;clear:left;padding-right:10px;line-height:21px;font-weight:bold;font-size:14px;
    margin-bottom:7px;color:#444;font-family:"Helvetica Neue",Roboto,Arial,sans-serif}
.textinput input{border:1px solid #ccc;border-radius:4px;box-sizing:border-box;font-size:14px;padding:7px 10px;width:380px}
.textinput input:focus{border-color:#38d;box-shadow:0 0 8px rgba(51,136,221,0.5);outline:0 none}
.order_form{float: left;width:370px}
.link{font-size:.8em}
.css3button{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;
    -moz-border-top-colors:none;background-color:#16b;background-image:linear-gradient(#2d8cec,#16b);
    border-color:#16b #0b4075 #0b4075;border-image:none;border-style:solid;border-width:1px;color:white;
    text-shadow:0 1px 1px rgba(0,0,0,0.75);line-height:21px;padding:4px 14px;-moz-appearance:none;border-radius:4px;
    cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;text-align:center;text-decoration:none;
    text-transform:none;overflow:visible;white-space:nowrap;width:380px;box-sizing:border-box;margin-bottom:20px}

