body {
    background-color: #FEFDFB;
    font-family: monospace, Meiryo, "微軟正黑體", "Microsoft JhengHei";
}

.top {
    background-color: #8F8576;
    color: #FEFDFB;
    padding: 15px;
    text-align: center;
}

.tab {
    color: #8F8576;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #8F8576;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.tabtable {
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 25px;
}

.product {
    padding: 40px;
    text-align: center;
    font-size: 1.1em;
}
