html, body {
    height: 100%;
    margin: 0;
    background-color: #FEFDFB;
    font-family: monospace, Meiryo, "微軟正黑體", "Microsoft JhengHei";
}

.top {
    background-color: #8F8576;
    color: #FEFDFB;
    padding: 15px;
    text-align: center;
}

.tab {
    color: #8F8576;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #8F8576;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.tabtable {
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 20px 90px 0px 90px;
}

.info h3 {
    color: #858F76;
    font-size: 1.3em;
}

.info p {
    color: #6A725E;
    font-size: 1.05em;
    padding: 0px 90px 0px 90px;
}

.product {
    padding: 5px 20px 0px 20px;
    text-align: center;
}

.product p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #726A5E;
}