.contact {
    width: 80%;
    margin: 3rem auto;
    font-size: 1.15rem;
}

.contact .title {
    font-size: 1.6rem;
    color: #444444;
}

.contact .text {
    color: #777777;
}

.icon {
    display: inline-block;
    float: right;
}

.icon img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .icon {
        display: block;
        float: none;
        text-align: center;
        padding-top: 3rem;
    }
}