.contact {
    margin: 30px 50px;
    font-size: 1.15rem;
}

.contact .title {
    font-size: 1.6rem;
    color: #444444;
}

.contact .text {
    color: #777777;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}