a {
    color: black
}

a:focus {
    color: #ccc
}

input {
    font: 16px / 18px sans-serif
}

fieldset {
    margin-bottom: 1.35rem;
    padding: 0;
    border: 0
}

form div {
    padding: 0
}

#content {
    width: 100%
}

#accountFields {
    padding-left: 100px
}

.center {
    margin: 0.67rem;
    text-align: center
}

.buttoninput {
    clear: both
}

.textinput {
    padding-top: 0.67rem;
    clear: both
}

.textinput .alert {
    color: #dc3545;
    font-size: 0.9rem;
}

.textinput label {
    display: block;
    clear: left;
    padding-right: 0.67rem;
    line-height: 21px;
    font-weight: bold;
    font-size: 0.92rem;
    margin-bottom: 0.5rem;
    color: #444;
    font-family: "Helvetica Neue", Roboto, Arial, sans-serif
}

.textinput input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.93rem;
    padding: 0.5rem 0.67rem;
    margin: 0.67rem 0;
    width: 25rem;
}

.textinput input:focus {
    border-color: #777777;
    box-shadow: 0 0 8px #cccccc;
    outline: 0 none
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.93rem;
    padding: 7px 5px;
}

input:focus {
    border-color: #777777;
    box-shadow: 0 0 8px #cccccc;
    outline: 0 none;
}

input::placeholder {
    color: #cccccc;
}

.order_form {
    float: left;
    width: 25rem;
}

.link {
    font-size: .8em
}

.actionButton {
    line-height: 1.7rem;
    padding: 0.5rem 0;
    width: 25rem;
    display: inline-block;
    font-size: 0.93rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #f7f7f7;
    border: dotted #cccccc 0.067rem;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1.35rem;
}

.actionButton:hover {
    background-color: olivedrab;
    color: #f2f2f2;
}

.alert {
    color: #dc3545;
    font-size: 0.9rem;
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .order_form {
        float: none;
    }
}