body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

#id_wrapper {
    min-height: 100%;
    position: relative;
}

#id_header {
    height: 50px;
    box-sizing: border-box;
}

#id_content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#id_footer {
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar {
    overflow: auto;
    position: fixed;
    background-color: #444444;
    width: 100%;
    height: 50px;
    z-index: 1;
    top: 0;
}

.navbar::after {
    clear: both;
}

#tab a {
    float: left;
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#tab a:hover {
    background-color: #777777;
    color: #f2f2f2;
}

#tab a.active {
    color: white;
    text-shadow: #f2f2f2;
}

#tab a.active:hover {
    background-color: transparent;
}

#cart, #member {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#cart:hover, #member:hover {
    background-color: #777777;
    color: #f2f2f2;
}

.banner {
    padding: 30px;
    text-align: center;
    color: white;
    opacity: 0.8;
    background: url("https://farm5.staticflickr.com/4492/37708014331_f25832e032_z.jpg") no-repeat center;
    background-size: cover;
    min-height: 200px;
    letter-spacing: 10px;
}

.banner h2 {
    font-size: 36px;
    opacity: 1;
}

.banner p {
    font-size: 20px;
    opacity: 1;
}

.bannerRight {
    float: right;
    padding: 30px;
    margin: 10px 100px 0 0;
    text-align: center;
    color: white;
    opacity: 0.8;
    background: url("https://farm5.staticflickr.com/4492/37708014331_f25832e032_z.jpg") no-repeat center;
    background-size: cover;
    min-height: 300px;
    max-height: 80%;
    min-width: 30%;
    letter-spacing: 10px;
}

.bannerRight h2 {
    font-size: 36px;
    opacity: 1;
}

.bannerRight p {
    font-size: 20px;
    opacity: 1;
}

.footer-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: beige;
}

.footer-text {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

.footer-copyright {
    clear: both;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}