body, html {
    color: black;
}

#main {
    position: relative;
    width: 100vw;
    height: 80vh;
}

.layer1 {
    z-index: 1;
    background-color: rgba(154, 205, 50, 0.22);
    position: absolute;
    top:0;
    left: 0;
    width: 40%;
    height: 25%;
    min-width: 300px;
}

.layer2 {
    z-index: 2;
    background-color: rgba(219, 219, 219, 0.36);
    position: absolute;
    top: 10%;
    left: 26%;
    width: 70%;
    height: 40%;
    min-width: 500px;
}

.layer3 {
    z-index: 3;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 30%;
    min-width: 450px;
}

.layer3 img {
    width: 100%;
}

.slogan {
    color: darkgrey;
    text-align: center;
    letter-spacing: 0.15rem;
    font-size: 1.7rem;
    font-style: italic;
    font-family: "Diwan Kufi", "Al Bayan", cursive;
}

.recommend {
    display: block;
    width: 80%;
    margin: 5rem auto;
    min-height: 300px;
}

.recommend img {
    width: 100%;
}

.recommend .right.img {
    width: 55%;
    margin-left: 10%;
    right: 0;
}

.recommend .left.img {
    width: 55%;
    margin-right: 10%;
}

.recommend .text {
    width: 35%;
    text-align: justify;
    letter-spacing: 0.3rem;
}

.recommend .text .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {

    .contact {
        padding:80px 80px;
    }

    .contact .title {
        letter-spacing: 10px;
        font: 40px "Lato", sans-serif;
    }

    .contact .text {
        letter-spacing: 3px;
    }

    .icon {
        float: none;
        clear: both;
        display: block;
        text-align: center;
        padding-top: 40px;
    }

    .icon img {
        width: 50px;
        margin: 10px;
    }

}