fieldset {
    padding: 0;
    border: 0;
    font-weight: bold;
    font-size: 0.92rem;
    margin: 0 0 0.5rem;
    color: #444;
}

.content {
    margin: 0.67rem 3.35rem 0.67rem 3.35rem;
}

#cartProductsList {
    clear: both;
    margin: 0.67rem 3.35rem 0.67rem 3.35rem;
}

#cartProductsList table {
    border: 0;
    width: 100%;
}

#cartTable {
    text-align: center;
}

#cartTable td {
    min-width: 4.7rem;
    width: 10%;
    border-left: solid 1px #cccccc;
}

#cartTable .cartProductName {
    text-align: left;
    min-width: 23rem;
    width: 60%;
    border-left: none;
}

#cartTable .cartProductName a {
    text-decoration: none;
}

#cartTable input {
    width: 3.35rem;
    text-align: center;
}

#cartTable button {
    padding: 0.5rem 0.67rem;
}

.cartImage {
    width: 130px;
    vertical-align: middle;
    padding: 0.67rem;
}

.confirmButton1 {
    width: 13rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}

.confirmButton2 {
    width: 200px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2.68rem;
}

#ship {
    margin: 2rem 0;
}

#ship input {
    width: 1.2rem;
    display: inline-block;
}

#trialPrice tr {
    line-height: 1.7rem;
}

#trialPrice th {
    text-align: left;
}

#trialPrice td {
    padding-left: 1rem;
}

#trialPrice #sum th, #trialPrice #sum td {
    border-top: solid #bbbbbb 1px;
    padding-top: 0.5rem
}

.confirmContent {
    margin: 3rem;
}

.accountHint {
    margin: 0 0 1.5rem 0;
    color: darkgray;
}

.accountHint .hint {
    color: olivedrab;
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .content {
        margin: 0.67rem 2rem 0.67rem 2rem;
    }

    #cartProductsList {
        margin: 0;
    }

    #cartTable td {
        min-width: 4.7rem;
    }

    #cartTable .cartProductName {
        min-width: 4.7rem;
    }

    #cartTable input {
        width: 2.8rem;
    }

    #cartTable button {
        font-size: 20px;
    }

    .cartImage {
        width: 130px;
        padding: 0.5rem;
    }

    .confirmButton1 {
        width: 10rem;
    }
}