fieldset {
    padding: 0;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 7px;
    color: #444;
}

#cartProductsList {
    clear: both;
    margin: 10px 50px 10px 50px;
}

#cartProductsList table {
    border: 0;
    width: 100%;
}

#productsList {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    padding-right: 100px;
}

#cartTable {
    text-align: center;
}

#cartTable td {
    min-width: 70px;
    width: 10%;
    border-left: solid 1px #cccccc;
}

#cartTable .cartProductName {
    text-align: left;
    min-width: 350px;
    width: 60%;
    border-left: none;
}

#cartTable .cartProductName a {
    text-decoration: none;
}

#cartTable input {
    width: 40px;
    text-align: center;
}

#cartTable button {
    padding: 7px 10px;
}

.cartImage {
    width: 130px;
    vertical-align: middle;
    padding: 10px;
}

#confirmButton {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


