.content {
    width: 80%;
    margin: 2rem auto;
}

.content h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.13rem;
}

.content h4 {
    margin: 0.3rem 0;
}

@media only screen and (max-device-width: 1024px) {
    #id_content {
        font-size: 13px;
    }

    .formTitle {
        font-size: 1rem;
    }

    footer .footer-copyright {
        font-size: 8.5px;
    }
}