

.content {
    padding: 1rem;
    z-index: -1;
}

.prod-list {
    display: table;
    margin: 2%;
}

.prod-wrapper {
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 2% 4.5% 2% 4.5%;
}

.prod-wrapper a:hover {
    opacity: 0.8;
}

.info {
    position: absolute;
    width: 100%;
    padding: 0.67rem;
    bottom: 0;
    color: white;
    text-align: center;
}

.info b {
    font-size: 1.03rem;
    letter-spacing: 0.14rem;
}

.originalPrice {
    text-decoration: line-through;
    text-decoration-color: white;
}

@media (max-width: 1200px) {
    .info {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .info {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .prod-wrapper {
        width: 90%;
        margin: 2% 5% 2% 5%;
    }

    .info {
        font-size: 15px;
    }
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .prod-list {
        margin: 5%;
    }

    .prod-wrapper {
        position: relative;
        display: inline-block;
        width: 80%;
        margin: 3% 10% 2% 10%;
    }

    .info p {
        font-size: 1rem;
    }

    .price {
        font-size: 0.93rem;
    }

    .originalPrice {
        font-size: 0.93rem;
    }
}