.content {
    padding: 16px;
    z-index: -1;
}

.prod-list {
    display: table;
    margin: 2%;
}

.prod-wrapper {
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 2% 4.5% 2% 4.5%;
}

.prod-wrapper a:hover {
    opacity: 0.8;
}

.info {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    color: white;
    text-align: center;
}

.info b {
    font-size: 1.12em;
    letter-spacing: 2px;
}

@media (max-width: 1200px) {
    .info {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .info {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .prod-wrapper {
        width: 90%;
        margin: 2% 5% 2% 5%;
    }

    .info {
        font-size: 15px;
    }
}
