

.content {
    padding: 1rem;
    z-index: -1;
}

.prod-list {
    display: table;
    width: 80%;
    margin: 3% 10%;
}

.prod-wrapper {
    position: relative;
    display: inline-block;
    width: 29.3%;
    margin: 2% 2% 2% 2%;
}

.prod-wrapper a {
    text-decoration: none;
}

.prod-wrapper a:hover {
    opacity: 0.8;
}

.info {
    width: 100%;
    color: #444444;
    text-align: center;
}

.info b {
    font-size: 1.03rem;
    letter-spacing: 0.14rem;
}

.info p {
    margin: 0;
}

.originalPrice {
    text-decoration: line-through;
    text-decoration-color: #444444;
}

@media (max-width: 1200px) {
    .info {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .info {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .prod-wrapper {
        width: 60%;
        margin: 2% 20% 2% 20%;
    }

    .info {
        font-size: 14px;
    }
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .prod-list {
        margin: 5%;
    }

    .prod-wrapper {
        position: relative;
        display: inline-block;
        width: 80%;
        margin: 3% 10% 2% 10%;
    }

    .info p {
        font-size: 1rem;
    }

    .price {
        font-size: 0.93rem;
    }

    .originalPrice {
        font-size: 0.93rem;
    }
}