.content {
    padding: 16px;
    z-index: -1;
}

.info {
    margin: 2%;
    padding-bottom: 2%;
    letter-spacing: 2px;
}

.info-content {
    letter-spacing: 5px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.info-content img {
    margin-right: 3%;
    margin-left: 3%;
    width: 100%;
}

.info-content.info-table {
    width: 40%;
    float: right;
}

.info-content th {
    width: 90px;
    color: #777777;
    font-weight: normal;
}

.info-content td {
    width: 200px;
}

#version {
    font-size: 1.3rem;
    font-weight: 200;
}

#price {
    font-size: 1.5rem;
    font-weight: 400;
    color: olivedrab;
}

#originalPrice {
    text-decoration: line-through;
    margin-left: 1rem;
}

select {
    width: 5.3rem;
    height: 2.3rem;
    border-style: dotted;
    font-size: 0.88rem;
    outline: none;
    padding-left: 2rem;
}

select:hover {
    background-color: olivedrab;
    color: #f2f2f2;
}

.addToCart {
    margin-left: 5px;
    width: 10rem;
    height: 2.3rem;
    font-size: 1rem;
    background-color: #f7f7f7;
    border: dotted #cccccc 1px;
    border-radius: 5px;
    outline: none;
}

.addToCart:hover {
    background-color: olivedrab;
    color: #f2f2f2;
}

.border {
    border-bottom: solid #cccccc 2px ;
    width: 80%;
    margin-left: auto;
    /*margin-right: auto;*/
}

.border2 {
    border-top: solid #cccccc 2px;
    width: 80%;
    margin-right: auto;
    margin-top: 1%;
}

.photos iframe {
    display: block;
    margin: 4% auto;
}

.photos p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.photos img {
    display: block;
    margin: 4% auto; /* margin: (top, bottom) (left, right) */
    width: 70%;
}

@media (max-width: 1200px) {
    .info-content img {
        margin-right: 0.5%;
        margin-left: 3%;
    }
}


/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .info-content {
        width: 100%;
        display: block;
        margin: 5% 0;
    }

    .info-content #smallImage {
        width: 75%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .info-content.info-table  {
        float: none;
        width: 85%;
        margin: 8% 0 3% 10%;
    }

    .info-content h2 {
        font-size: 1.2rem;
    }

    .info-content p {
        font-size: 15px;
    }

    .info-content #pricePart {
        text-align: center;
    }

    #buttons {
        text-align: center;
    }

    #link {
        font-size: 15px;
    }

    .photos p {
        margin: 10%;
        letter-spacing: 1px;
        font-size: 15px;
        text-align: left;
    }

    .photos img {
        margin: 0 auto 15%;
    }
}