.content {
    padding: 16px;
    z-index: -1;
}

.info {
    margin: 2%;
    padding-bottom: 2%;
    letter-spacing: 2px;
    /*background-color: lavenderblush; !*for testing*!*/
}

.info-content {
    margin: 2%;
    display: inline-block;
    vertical-align: top;
    /*background-color: #f2f2f2; !*for testing*!*/
}

.info-content img {
    margin-right: 3%;
    margin-left: 3%;
    width: 80%;
}

.info-content th  {
    width: 90px;
    color: #777777;
    font-weight: normal;
    /*background-color: #f2f2f2; !*for testing*!*/
}

.info-content td {
    width: 200px;
    /*background-color: #f2f2f2; !*for testing*!*/
}

#price {
    font-size: 1.5rem;
    font-weight: 400;
    color: olivedrab;
}

#originalPrice {
    text-decoration: line-through;
    margin-left: 1rem;
}

select {
    width: 5.3rem;
    height: 2.3rem;
    border-style: dotted;
    font-size: 0.88rem;
    outline: none;
    padding-left: 2rem;
}

select:hover {
    background-color: olivedrab;
    color: #f2f2f2;
}

.addToCart {
    margin-left: 5px;
    width: 10rem;
    height: 2.3rem;
    font-size: 1rem;
    background-color: #f7f7f7;
    border: dotted #cccccc 1px;
    border-radius: 5px;
    outline: none;
}

.addToCart:hover {
    background-color: olivedrab;
    color: #f2f2f2;
}

.border {
    border-bottom: solid #cccccc 2px ;
    width: 80%;
    margin-left: auto;
    /*margin-right: auto;*/
}

.border2 {
    border-top: solid #cccccc 2px;
    width: 80%;
    margin-right: auto;
    margin-top: 1%;
}

.photos iframe {
    display: block;
    margin: 4% auto;
}

.photos p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.photos img {
    display: block;
    margin: 4% auto; /* margin: (top, bottom) (left, right) */
}

@media (max-width: 1200px) {
    .info-content {
        margin: 2% 0 2% 0;
        letter-spacing: 1px;
    }
    .info-content img {
        margin-right: 0.5%;
        margin-left: 3%;
        width: 75%;
    }
}

@media (max-width: 1000px) {
    .info-content {
        margin: 2% 0 2% 0;
    }
    .info-content img {
        margin-right: 0;
        margin-left: 3%;
        width: 73%;
    }
}

/* phone version 手機版 */
@media only screen and (max-device-width: 1024px) {
    .info-content {
        width: 100%;
    }

    .info-content #smallImage {
        /*width: 100%;*/
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .info-table  {
        width: 85%;
        margin-left: 2rem;
    }

    #buttons {
        text-align: center;
    }

    #link {
        font-size: 26px;
    }

    .photos p {
        margin: 10% 5%;
        letter-spacing: 1px;
        font-size: 28px;
    }
}