body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

#id_wrapper {
    min-height: 100%;
    position: relative;
}

#id_header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 999;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#id_header.shrink {
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

#id_content {
    padding-top: 120px;
    padding-bottom: 50px;
}

#id_footer {
    margin-top: 2rem;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
}

.header {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    min-width: 700px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header.shrink {
    font-size: 90%;
    padding-top: 0;
}

#nav ul.left {
    width: 37%;
    float: left;
}

#nav .left li {
    margin-right: 11%;
    float: left;
}

#nav ul.right {
    width: 37%;
    float: right;
}

#nav .right li {
    margin-left: 11%;
    text-align: right;
    float: right;
}

#nav .right li:last-child {
    margin-left: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

li {
    list-style: none;
}

#nav .left li:last-child {
    margin-right: 0;
}

#nav #mark_img {
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width: 26%;
    margin-left: -13%;
    position: absolute;
    left: 50%;
    text-align: center;
    font-weight: 900;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    zoom: 1.3;
}

#nav #mark_img.shrink {
    padding-top: 2px;
    width: 40px;
    zoom: 1;
}

.clearfix {
    min-height: 1px;
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

a:visited {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: darkgrey;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

a.active {
    color: black;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.categories {
    margin: 0;
    display: block;
}

.categories li {
    cursor: pointer;
    float: left;
    display: block;
    color: darkgray;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-right: solid 1px darkgray;
}

.categories li:first-child {
    border-left: solid 1px darkgray;
}

.categories li:hover {
    color: black;
}

.categories li.active, .categories li:focus {
    color: black;
    border-bottom: solid darkgray 1px;
    text-shadow: #f2f2f2;
}

#searchIcon {
    opacity: 0.5;
    padding: 0 10px 0 0;
}

li:hover #searchIcon {
    opacity: 1;
}

#search {
    margin: 0;
    right: 150px;
    padding: 10px;
    background-color: #e7e8ea;
    position: fixed;
}

button {
    padding: 8px 10px;
}

button:hover {
    background-color: olivedrab;
    color: white;
    box-shadow: 0 0 8px #cccccc;
    outline: 0 none;
}

button:active, button:focus {
    background-color: olivedrab;
    color: white;
    outline: 0 none;
}

.floatingButton {
    position: fixed;
    bottom: 50px;
    right: 90px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: olivedrab;
    color: white;
    font-size: 35px;
    text-align: center;
    transition: 0.5s width ease, 0.5s height ease, 0.5s font-size ease, 0.3s box-shadow ease 0.4s;
}

.floatingButton:hover {
    box-shadow: 2px 5px 10px 4px #cccccc;
    width: 80px;
    height: 80px;
    font-size: 45px;
    -webkit-animation: spinHalf 0.5s ease;
    -moz-animation: spinHalf 0.5s ease;
    -o-animation: spinHalf 0.5s ease;
    animation: spinHalf 0.5s ease;
}

input {
    border: 1px solid darkgray;
    font-size: 0.93rem;
    padding: 7px 5px;
    margin: 2px 0;
    width: 220px;
}

input:focus {
    border-color: black;
    box-shadow: 0 0 8px #cccccc;
    outline: 0 none;
}

input::placeholder {
    color: #aaaaaa;
}

.formTitle {
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.borderLeft {
    border-top: solid #cccccc 2px;
    width: 80%;
    margin-right: auto;
}

.table {
    width: auto;
    overflow: scroll;
    text-align: center;
}

.table th {
    min-width: 100px;
}

.table th#v0 {
    min-width: 50px;
}

.table th#v2 {
    min-width: 150px;
}

#orderForm tr {
    outline: solid #e7e8ea 0.5px;
}

/*-- snackbar --*/
#snackbar {
    position: fixed;
    clear: both;
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 250px; /* Set a default minimum width */
    background-color: #444; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 8px 16px; /* Padding */
    margin-left: auto; margin-right: auto; /* Center the snackbar */
    bottom: 30px; /* 10px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
    /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}

#snackbar.close {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*-- snackbar --*/

/*--- loader ---*/
#progressBar {
    margin: 5% auto;
    text-align: center;
}

.loader {
    margin: auto;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid olivedrab;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    -o-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spinHalf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
/*--------------*/

/*-- fadein up animation --*/
.fadeinDown {
    visibility: visible !important;
    -webkit-animation: fadeinDown 1s 0s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    -o-animation: fadeinDown 1s 0s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation: fadeinDown 1s 0s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.hidden {
    visibility: hidden;
}

@keyframes fadeinDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-35px) translateZ(0);
        transform: translateY(-35px) translateZ(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0);
    }
}
/*---------------*/